@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --borderRadius: 3px;
  --fontFamily: 'Quicksand', sans-serif;
  --maxWidth: 300px;
  --colorMed: #e4e3d3;
  --colorPrimary: #2e2d4d;
  --colorDark: #000000;
  --colorLight: #ffffff;
  --colorGreen: #aac0aa;
  --colorRed: #d34e24;
}

body {
  font-size: 16px;
  font-family: var(--fontFamily);
  text-align: center;
  background-color: var(--colorMed);
  color: var(--colorDark);
  max-width: var(--maxWidth);
  margin: auto;
  line-height: 1.5;
}
